img {
    height: 300px;  
}

img.filtered-image {
    animation: sepiaFilter 2s forwards;
}

@keyframes sepiaFilter {
    from {
        filter: sepia(0%);
    }
    
    to {
        filter: sepia(100%);
    }
}// reviewed: 2026-09-18
